<a href="https://colab.research.google.com/github/gabriel-jonathas/Estudos-Progamacao/blob/main/15_03_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tuplas

Uma tupla é uma coleção ordenada e imutável de elementos em Python

In [ ]:
tp_frutas = ('maçã', 'banana', 'laranja', 'goiaba')
tp_frutas

('maçã', 'banana', 'laranja', 'goiaba')

In [ ]:
lst_frutas = list(tp_frutas)
lst_frutas

['maçã', 'banana', 'laranja', 'goiaba']

In [ ]:
tp_meses = ('Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez')
tp_meses[3:6]

('Abr', 'Mai', 'Jun')

In [ ]:
uf_cod = [('PE', 81), ('RJ', 21), ('SP', 11), ('PB', 83)]
sorted(uf_cod, key = lambda x : x[1])

[('SP', 11), ('RJ', 21), ('PE', 81), ('PB', 83)]

In [ ]:
nome_nasc = [('Zé', 2003), ('Maria', 1998), ('Alice', 2000)]
sorted(nome_nasc, key = lambda x : x[1], reverse = True )

[('Zé', 2003), ('Alice', 2000), ('Maria', 1998)]

In [ ]:
nome_nasc = [('Zé', 2003), ('Maria', 1998), ('Alice', 2000)]
sorted(nome_nasc, key = lambda x : x[1])

[('Maria', 1998), ('Alice', 2000), ('Zé', 2003)]

In [ ]:
#Desemacotameto de valores
def nome_idade_uf():
  nome = "Epamiodas"
  idade = 18
  uf = 'RN'
  return nome, idade, uf

name, age, uf = nome_idade_uf()

print(name, age, uf)

Epamiodas 18 RN

In [ ]:
alunos = ('Kelly', 'Adauto', 'Marcelie', 'Luaa', 'Herique')
notas = (5.5, 8, 9, 7.5, 6.5)

Av1 = tuple(zip(alunos, notas))

Av1

(('Kelly', 5.5),
 ('Adauto', 8),
 ('Marcelie', 9),
 ('Luaa', 7.5),
 ('Herique', 6.5))

In [ ]:

def cocateaTula(tp1, tp2):
  return tp1 + tp2

a = (1, 5, 6)
b = (2, 6, 9)
cocateaTula(a, b)

(1, 5, 6, 2, 6, 9)

In [ ]:
nome = ('Gabriel', 'Hellen', 'Genival', 'Firmino', 'Mercedes')
idade = (23, 19, 28, 42, 58)

<function nome_idade at 0x7f9c78003be0>

In [ ]:
def endereco(tupla):
  nome, logradouro, numero, bairro = tupla
  return f'Nome:{nome}, residente a {logradouro}, {numero}, {bairro}.'

dadosCliente = (' Gardeina', "Rua das Flores", '42', 'Torre')

print (endereco(dadosCliente))

Nome: Gardeina, residente a Rua das Flores, 42, Torre.